__pycache__
.ipynb_checkpoints/
debug.log
Causal_Discovery.ipynb
Parametric_Burgers-PLOT.ipynb
Spatial_Advection_Diffusion_WeakLib_KRR-PLOT.ipynb
Spatial_KS_Equation_Chaotic-PLOT.ipynb
Parametric_Burgers-PyMC.ipynb
hall_of_fame_*

